body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.vinylizer-continer {
  display: flex;
  justify-content: center;
  margin: 50px;
  background: palegoldenrod;
}

.images {
  margin-top: 50%;
}

#base {
  display: block;
  width: 600px;
  position: relative;
}

#vinylRecord {
  width: 410px;
  height: 410px;
  position: relative;
  top: -444px;
  right: -9px;
  animation-name: vinylRecord;
}

#tonearm {
  position: fixed;
  width: 100px;
  height: 400px;
  position: relative;
  top: -450px;
  left: 50px;
  transform: rotate(34deg);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  animation-name: tonearm;
}

#button {
  width: 80px;
  height: 40px;
  position: relative;
  bottom: 430px;
  right: 500px;
  cursor: pointer;
}

.trackList {
  position: absolute;
  right: 430px;
  bottom: -350px;
  list-style-type: none;
  color: black;
  font-family: fantasy;
}


ul li {
  list-style-type: none;
  margin-top: 10px;
}

.trackList li {
  cursor: pointer;
}

#play {
  float: left;
  height: 20px;
  width: 20px;
}

@keyframes tonearm {
  0% {
    transform: rotate(33deg);
  }

  100% {
    transform: rotate(50deg);
  }
}

@keyframes vinylRecord {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}