body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.vinylizer-continer {
  display: flex;
  justify-content: center;
  margin: 50px;
  background: palegoldenrod;
}

.images {
  margin-top: 50%;
}

#base {
  display: block;
  width: 600px;
  position: relative;
}

#vinylRecord {
  width: 410px;
  height: 410px;
  position: relative;
  top: -444px;
  right: -9px;
  animation-name: vinylRecord;
}

#tonearm {
  position: fixed;
  width: 100px;
  height: 400px;
  position: relative;
  top: -450px;
  left: 50px;
  transform: rotate(34deg);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  animation-name: tonearm;
  /* animation: tonearm 40s linear infinite; */
  /* forwards */
}

#button {
  width: 80px;
  height: 40px;
  position: relative;
  bottom: 430px;
  right: 500px;
  /* transform: rotate(180deg);   когда песня отрыграла*/
}

@keyframes tonearm {
  0% {
    transform: rotate(33deg);
  }

  100% {
    transform: rotate(50deg);
  }
}

@keyframes vinylRecord {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}